:root {
    --nav-height: 80px;
    /* Colors */
    --background: #FAF9F6;
    --accent: #D3D3D3;
    --text: #383838;

}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: var(--nav-height) 0 0 0;
    background-color: var(--background);
    width: 300vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--nav-height);
}

li {
    list-style: none;
}
a {
    color: var(--text);
    text-decoration: none;
}

/*#region Navbar */

.navbar {
    display: flex;
    height: var(--nav-height);
    width: fit-content;
    padding: 0 1rem;
    background-color: var(--accent);
    border-radius: 15px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 1.5rem;
    width: 100%;
}

.nav-item {
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s linear;
}

.nav-link:hover {
    opacity: 80%;
    font-size: 1.6rem;
    border-bottom: 2px solid var(--text);
}

.active {
    opacity: 80%;
    font-size: 1.6rem;
    border-bottom: 2px solid var(--text);
}
/*#endregion*/

.grid-wrapper {
    /* min-height: 100vh */
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    justify-content: center;
    align-content: center;
}

section {
    outline: 2px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    border-radius: 10px;
    margin: 1rem;
    padding: 20px;
    font-size: 1.25rem;
    min-height: calc(100vh - var(--nav-height) - 2rem);
}

/*#region Filters*/

#map-filter {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 2rem);
}

.filter-box {
    display: flex;
    flex-direction: row;
    width: 25
}

/*#d3.js markers*/
.marker {
    stroke: #ffffff;
    stroke-width: 1.5px;
    fill: red;
    fill-opacity: 0.6;
    cursor: pointer;
}
