:root {
    --nav-height: 80px;
    /* Colors */
    --background: #FAF9F6;
    --accent: #D3D3D3;
    --text: #383838;

}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: var(--background);
    width: 200vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--background);
    z-index: 10000;
}

li {
    list-style: none;
}

a {
    color: var(--text);
    text-decoration: none;
}

/*#region Navbar */

.title {
    font-size: 3rem;
    font-weight: bold;
    transition: all .3s;
    border-bottom: 2px solid var(--background);
}

.title:hover {
    opacity: 90%;
    border-bottom: 2px solid var(--text);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25vw;
    background-color: var(--accent);
    border-radius: 15px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding-left: 0;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link {
    border-bottom: 2px solid var(--accent);
    transition: all .3s;
}

.nav-link:hover {
    opacity: 80%;
    border-bottom: 2px solid var(--text);
}
/*#endregion*/

.grid-wrapper {
    display: grid;
    margin-top: var(--nav-height);
    grid-template-columns: 1fr 1fr;
}

section {
    border-top: 2px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.25rem;
    max-height: calc(100vh - 2 * var(--nav-height));
}

/*#region Filters*/

#map-filter {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 20px;
    height: fit-content;
}

#map-container {
    grid-column: 1;
    outline: 1px solid var(--text);
}

#graph-container {  
    grid-column: 2;
    outline: 1px solid var(--text);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#graph-container svg {
    overflow: visible;
    width: fit-content;
    height: fit-content;
}

#filters {
    grid-column: 1 / span 2;
    outline: 1px solid var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.filter-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.filter-all input {
    width: 20px;
    height: 20px;
    accent-color: var(--text);
}

.crime-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, .5fr));
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 20px;
    width: 100%;
    height: 100%;   
    padding: 1rem;
}

.crime-filter-item {
    height: 100px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}

#Hide {
    width: 20%;
}


/*#region FAQ*/

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.faq-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.faq-items h3 {
    border-bottom: 2px solid var(--text);
}

.faq-items p {
    outline: 2px solid var(--text);
    padding: 20px;
    border-radius: 10px;
}

/*#endregion */

/*#d3.js markers*/
.marker {
    stroke: #ffffff;
    stroke-width: 1.5px;
    fill: red;
    fill-opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1800px) {
    #map-filter {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    #map-container {
        min-height: 50vh;
    }
  }