:root {
    --nav-height: 80px;
    /* Colors */
    --background: #FAF9F6;
    --accent: #D3D3D3;
    --text: #383838;

}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: var(--nav-height) 0 0 0;
    background-color: var(--background);
    width: 200vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--nav-height);
}

li {
    list-style: none;
}
a {
    color: var(--text);
    text-decoration: none;
}

/*#region Navbar */

.navbar {
    display: flex;
    height: var(--nav-height);
    width: fit-content;
    padding: 0 1rem;
    background-color: var(--accent);
    border-radius: 15px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 1.5rem;
    width: 100%;
}

.nav-item {
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s linear;
}

.nav-link:hover {
    opacity: 80%;
    font-size: 1.6rem;
    border-bottom: 2px solid var(--text);
}

.active {
    opacity: 80%;
    font-size: 1.6rem;
    border-bottom: 2px solid var(--text);
}
/*#endregion*/

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

section {
    border-top: 2px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    margin: 1rem 0 0 0;
    padding: 1rem;
    font-size: 1.25rem;
    min-height: fit-content;
}

/*#region Filters*/

#map-filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
}

.map-graph-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 70%;
}

.filter-box {
    display: flex;
    flex-direction: row;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    width: 100%;
    height: 30%;
    padding: 1rem;
    outline: 1px solid var(--text);
    background-color: var(--accent);
}

.crime-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(25%, 100%, 20%), 1fr));
    gap: 1rem 2rem;
    width: 100%;
    height: 100%;   
}

.crime-filter-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}

#Hide {
    width: 20%;
}



/*#region Map*/

#map-container {
    outline: 1px solid var(--text);
    width: 60%;
    height: 100%;
}

#graph-container {  
    outline: 1px solid var(--text);
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#graph-container svg {
    overflow: visible;
    width: clamp(250px, 100%, 800px);
    height: clamp(250px, 100%, 600px);
  }

/*#endregion */

/*#region FAQ*/

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.faq-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.faq-items h3 {
    border-bottom: 2px solid var(--text);
}

.faq-items p {
    outline: 2px solid var(--text);
    padding: 20px;
    border-radius: 10px;
}

/*#endregion */

/*#d3.js markers*/
.marker {
    stroke: #ffffff;
    stroke-width: 1.5px;
    fill: red;
    fill-opacity: 0.6;
    cursor: pointer;
}

@media only screen and (max-width: 1600px) {
    .map-graph-box {
        flex-direction: column;
    }    

    #map-container {
        width: 100%;
        height: 50vh;
    }

    #graph-container {
        width: 100%;
        height: fit-content;
        padding: 2rem;
    }
}